[user]
	email = jacob.smith@eigeninnovations.com
	name = Jacob Smith
[alias]
	recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format=\"%(refname:short)\"
	any = log --branches --not --remotes
	ch = !ginteract checkout
	mg = !ginteract merge
	dl = !ginteract delete
	s = status
	d = diff
	quick-stats = !git-quick-stats
[push]
	default = simple
